{% extends "base.html" %}

{% block title %} Contact Information {% endblock title %}

{% block content %}

    <h2><center>Full Name</center></h2>
    <br>
        <h3><center>Shiela Mae Betito</center></h3>

    <br>
    <h2><center>Address</center></h2>
    <br>
    <h3><center>San Antonio Minalabac Cam SUR</center></h3>


    <h2><center>Email</center></h2>
    <br>
    <h3><center>shielabetito12@gmail.com</center></h3>

    <h2><center>MobileNumber</center></h2>
    <br>
    <h3><center>09353971291</center></h3>

{% endblock content %}
